<!DOCTYPE html>
<html>
  <head>
    <title>Bestof</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<!-- Include AlgoliaSearch JS Client and autocomplete.js library -->
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<!-- Initialize autocomplete menu -->

  </head>

  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <div class="container">
  		<%= render 'layouts/messages' %>
    </div>
    	<%= yield %>

      <script>
var client = algoliasearch("QBYFLAZY24", "4afc379607e18a69972c9cdfff9fdce8")
var players = client.initIndex('Link');
var teams = client.initIndex('User');

autocomplete('#aa-search-input', {}, [
    {
      source: autocomplete.sources.hits(players, { hitsPerPage: 3 }),
      displayKey: 'name',
      templates: {
        header: '<div class="aa-suggestions-category">Posts</div>',
        suggestion: function(suggestion) {
          // var tags = "";
          // for(var i=0; i< suggestion._highlightResult.tags.length; i++){
          //   tags += "<span>"+suggestion._highlightResult.tags[i].name.value+"</span>";

          // }
 
          return '<a href="/links/"><span>' +
            suggestion._highlightResult.title.value + '</span>' + "<span>"+ suggestion._highlightResult.tags[0].name.value+"</span></a>";
        }
      }
    },
    {
      source: autocomplete.sources.hits(teams, { hitsPerPage: 3 }),
      displayKey: 'name',
      templates: {
        header: '<div class="aa-suggestions-category">Users</div>',
        suggestion: function(suggestion) {
          return '<span>' +
            suggestion._highlightResult.name.value + '</span>';
        }
      }
    }
]);
</script>
  </body>
</html>
